@using FruitsAPI.Models
@rendermode InteractiveServer


<h3>Dettaglio</h3>
<EditForm Model="frutto" OnValidSubmit="@(e => OnSalva.InvokeAsync(frutto))" FormName="Frutta">
    <DataAnnotationsValidator />
    <ValidationSummary />

    @if(frutto is not null)
    {
        <div class="form-group">
            <label for="Nome">Nome</label>
            <InputText class="form-control" @bind-Value="frutto.name" id="Nome"></InputText>
            <ValidationMessage For="() => frutto.name" />
        </div>

        <div class="form-group">
            <button class="btn btn-danger mt-3" type="submit">Submit</button>
        </div>
        
    }


</EditForm>

@code {
    [Parameter]
    public FruitModel? frutto { get; set; }

 
    [Parameter]
    public EventCallback<FruitModel> OnSalva { get; set; }

   
}
